.heroBg {
    background: linear-gradient(80deg, #0171F9, #0171F9, #0D90F8);
}


.header {
    padding: 1.2rem 0;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.headerPadd{
    padding: 1rem 0 !important;
}

.fixedHeader{
    position: fixed !important;
    top: 0;
    box-shadow:  1px 1px 15px #1e1e1e54;
    left: 0;
    width: 100%;
    z-index: 999;
    border-bottom-right-radius: 25px !important; 
    background-color:#0171F9;
    border-bottom-left-radius: 25px !important;
}

.logo img {
    height: 58px;
    width: 160px;
    object-fit: contain;
}

/* active class  */
.img {
    height: 45px !important;
    width: 140px !important;
}

.menus {
    display: flex;
    align-items: center;
}

.menus ul {
    display: flex;
    margin-bottom: 0 !important;
    list-style-type: none;
}

.menus ul li a {
    min-height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 .8rem;
    font-size: 15px;
    margin: 0 20px;
    border-radius: 120px;
    transition: .30s ease;
    color: #fff;
    display: block;
    text-decoration: none;
}

.menus ul li a:hover {
    background-color: #ffffff21;
}

.linkActive {
    background-color: #ffffff21;
}

/* .menus ul li a {
    text-decoration: none;
    color: #fff;
} */

.menus button {
    height: 40px;
    width: 95px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 120px;
    background: #EE626B;
    font-size: 15px;
    font-weight: bold;
}

.header i {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

@media screen and (max-width:992px) {
    .menus ul li {
        margin: 0 10px;
    }

    .logo img {
        height: 40px;
        width: 160px;
        object-fit: contain;
    }
}

@media screen and (max-width:800px) {

    .header i {
        display: block;
    }

    .menus {
        position: absolute;
        top: 130px;
        left: 50%;
        height: 0;
        opacity: 0;
        visibility: hidden;
        padding: .5rem .2rem;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 99;
        transform: translate(-50%, -24%);
        background-color: #fff;
        transition: .30s ease;
        flex-direction: column;
        box-shadow: 1px 1px 15px #3333333f;
    }

    .linkActive {
        background: none;
        color: #EE626B !important;
        background-color: none;
    }


    .active {
        opacity: 1;
        height: 225px;
        visibility: visible;
    }

    .menus ul {
        overflow: hidden;
        width: 100%;
        padding: 0 !important;
        flex-direction: column;
    }

    .menus ul li {
        margin: 0 !important;
        border-bottom: 1px solid #33333356;
        width: 100%;
        border-radius: 0 !important;
    }

    .menus ul li a {
        color: #1E1E1E;
    }

    .menus ul li a:hover {
        background: none;
    }

    .menus ul li a:hover {
        color: #EE626B;
    }

    .menus button {
        margin-top: .5rem;
    }
}