.gamesGrid {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
    overflow: hidden;
    background-color: #EEEEEE;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.box img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 20px;
}

.box div:nth-child(2) {
    padding: .6rem 1.5rem;
}

.box div:nth-child(2) span {
    color: #757575;
    font-size: 15px;
}

.box div:nth-child(2) h1 {
    font-size: 17px;
    display: flow-root;
    color: #1E1E1E;
    transition: .30s ease;
    line-height: 40px;
    /* font-weight: bold; */
}

.box div:nth-child(2) h1 i {
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    transition: .30s ease;
    background-color: #EE626B;
}

.box:hover div:nth-child(2) h1 {
    color: #0171F9;
}

.box:hover div:nth-child(2) h1 i {
    background-color: #0171F9;
}

.price {
    position: absolute;
    top: 14px;
    right: 14px;
    border-radius: 5px;
    display: flex;
    padding: .3rem .8rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #0171F9;
}

.price span {
    line-height: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

.price span:first-child {
    font-weight: normal;
    font-size: 15px;
}

@media screen and (max-width:992px) {
    .gamesGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:768px) {
    .gamesGrid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:520px) {
    .gamesGrid {
        grid-template-columns: 1fr;
    }
}