.modalContainer{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(1px);
}

.showModal{
    opacity:1 !important;
    visibility: visible !important;
}

.crossIcon{
    position: absolute;
    right:15px;
    top:15px;
    cursor: pointer;
    font-size: 18px;
}

.ContactModal{
    padding: 1rem;
    width:95%;
    position: absolute;
    top:15%;
    left:2%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    min-height: 244px;
    border-radius: 5px;
    transition: .30s ease;
    background-color: #fff;
}

.showBox{
    opacity: 1 !important;
    visibility: visible !important;
    top:20% !important;
}

.ContactModal div{
    display: flex;
    flex-direction: column;
}

.ContactModal div span{
    color: red;
    font-size: 13px;
}

.ContactModal div label{
    margin: .5rem 0;
}

.redBorder{
    border: 1px solid red !important;
}

.ContactModal div input{
    height: 40px;
    width: 100%;
    padding: 0 .5rem;
    outline:none;
    border: 1px solid #333;
}

.ContactModal button{
    display: block;
    margin-left: auto;
    height: 40px;
    font-size: 15px;
    width:max-content;
    margin-top: .5rem;
    cursor: pointer;
    border: none;
    outline: none;
    color: #333;
    border-radius: 5px;
    padding: 0 .5rem;
    background: #FCCA3F;
}