.cartSummary > span{
    color: #4A4A4A;
    font-size: 14px;
    display: inline-block;
    margin-bottom:1rem;
}

.box{
    display: flex;
    margin-bottom: .5rem;
    font-size: 13px;
    color: #4A4A4A;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 15px;
    font-weight: 550;
    margin: .5rem 0;
}

.cartSummary button{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    background-color: rgb(255, 43, 114);
}