.footerContainer{
    background-color: #3333330a;
    padding:1rem;
}

.footerMain{
    display:grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
}

.box h6{
    color: #333;
    font-size: 11px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.box ul li{
    list-style: none;
    color: #4A4A4A;
    font-size: normal;
    font-size: 14px;
    margin-bottom: .3rem;
}

.images{
    display: flex;
}

.images img{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    object-fit: cover;
}

.images img:last-child{
    object-fit: contain;
    height: 30px;
    margin-top: .3rem;
}

.keepintouch span{
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 12px;
    margin-top: 1rem;
    display: inline-block;
}

.icons{
    font-size: 25px;
    color: #4A4A4A;
    margin-top: .8rem;
}

.box4 div{
    display: flex;
    margin-bottom: 10px;
}

.box4 div img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
    object-fit: contain;
}

.box4 div p{
    font-size: 14px;
    color: #4A4A4A;
}

.box4 div p span{
    color: #000;
    font-weight: 550;
}

