.mainSection{
    gap: 50px;
    display:grid;
    padding: 1rem 0;
    min-height: 80vh;
    max-width: 1500px;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns:repeat(auto-fit, minmax(220px, max-content));
}

.heading{
    color: red;
}