.productCard{
    height: auto;
    width:200px;
    padding: .3rem .5rem;
}

.productImage img{
    height: 267px;
    width: 200px;
    object-fit: cover;
}

.rating span{
    color: #333;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    height: 18px;
}

.rating span:first-child{
    border-right: 1px solid #333;
    margin-right: .2rem;
    display: inline-block;
    padding-right: .2rem;
    width: 40px;
}

.ratingStar{
    position: absolute;
    font-size: 20px;
    top:-10px;
    right: 0;
    color: orange;
    margin-top: .5rem;
    margin-right: .2rem;
}

.companyName{
    font-size: 15px;
    margin: .5rem 0;
}

.productDes{
    margin-bottom: .3rem;
    font-size: 13px;
    color: #4A4A4A;
}

.currentPrice{
    font-size: 15px;
    color: #333;
    font-weight: 550;
    display: inline-block;
    margin-right: .2rem;
}

.originalPrice{
    text-decoration: line-through;
    color: #4A4A4A;
    font-size: 12px;
    margin-right: .2rem;
}

.discount{
    color: orange;
    font-size: 12px;
}

.add,
.remove{
    height: 40px;
    width: 100%;
    background-color: green;
    color: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: .5rem;
    font-weight: 550;
}

.remove{
    background-color: red !important;
}